 uv
 fastmcp 
 langchain-groq 
 langchain-community 
 duckduckgo-search 
 python-dotenv
 langchain-mcp-adapters
 ddgs
 langchain
 langchain-classic
 langchain-text-splitters


 pip install "mcp<2.0.0"
 pip install --upgrade langchain-mcp-adapters
