 uv
 fastmcp 
 langchain-groq 
 langchain-community 
 duckduckgo-search 
 python-dotenv
 langchain-mcp-adapters
 ddgs
 langchain
 langchain-classic
 langchain-text-splitters
 mcp>=1.24.0,<2.0.0





 
